node_modules/

.DS_Store

# build file
/build/
/bin/*
!/bin/bitgame/
!/bin/favicon/
!/bin/index.html
!/bin/index.js

# laya file
/laya/views
/src/ui/layaMaxUI.ts
#IDE编译调试的会修改此文件格式
/src/GameConfig.ts


# script config
script/**/config.json