{
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "no-prose-wrap": true,
    "trailingComma": "all",
    "printWidth": 80,
    "extends": ["tslint:latest", "tslint-config-prettier"]
}
